<div class="col-md-4 col-md-offset-1" >  
    <div>
        <h2>Settings</h2>
        <img src="img/settings2.jpg" alt="Settings" title="Settings" />
    </div>
    <div ng-model="currentTeam">
        <span ng-switch on="currentTeam">
            <h3 ng-switch-when="team1">{{team1}}</h3>
            <img ng-switch-when="team1" src="img/players/players1.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
            <h3 ng-switch-when="team2">{{team2}}</h3>
            <img ng-switch-when="team2" src="img/players/players2.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
            <h3 ng-switch-when="team3">{{team3}}</h3>
            <img ng-switch-when="team3" src="img/players/players3.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
            <h3 ng-switch-when="team4">{{team4}}</h3>
            <img ng-switch-when="team4" src="img/players/players4.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
            <h3 ng-switch-when="team5">{{team5}}</h3>
            <img ng-switch-when="team5" src="img/players/players5.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
            <h3 ng-switch-when="team6">{{team6}}</h3>
            <img ng-switch-when="team6" src="img/players/players6.jpg"  ng-bind="currentTeamName" alt="Current" title="Current player" />
        </span>
    </div>
</div>
<div class="col-md-6 col-md-offset-1" >  
<section>
    <div id="title" class="team">
        <label for="game-title">Nombre partida</label>
        <input type="text" id="game-title"  ng-model="gameTitle">
    </div>
    <p>Selecciona los equipos</p>
    <div id="team-1" class="team">
        <span>1</span>
        <input type="text" id="team-1-name"  ng-model="team1" ng-focus="showCurrent(1)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players1.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-2" class="team">
        <span>2</span>
        <input type="text" id="team-2-name" ng-model="team2"  ng-focus="showCurrent(2)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players2.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-3" class="team">
        <span>3</span>
        <input type="text" id="team-3-name"  ng-model="team3"  ng-focus="showCurrent(3)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players3.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-4" class="team">
        <span>4</span>
        <input type="text" id="team-4-name"  ng-model="team4" ng-focus="showCurrent(4)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players4.jpg" class="img-thumbnail"></span>      
    </div>
    <div id="team-5" class="team">
        <span>5</span>
        <input type="text" id="team-5-name"  ng-model="team5" ng-focus="showCurrent(5)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players5.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-6" class="team">
        <span>6</span>
        <input type="text" id="team-6-name"  ng-model="team6" ng-focus="showCurrent(6)" ng-blur="showCurrent(0)">
        <span><img src="img/players/players6.jpg" class="img-thumbnail"></span>
    </div>
    <div id="total-panels">
        <span>Total panels</span>
        <select id="totalPanels"  ng-model="totalPanels">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12" ng-selected="12" selected="selected">12</option>
        </select>
    </div>
    <button type="button" class="btn btn-success" ng-click="loadGame()">Jugar</button>
    <a href="#/game">Jugar</a>
</section>
</div>