  <p>Selecciona los equipos</p>
    <div id="team-1" class="team">
        <span>1</span>
        <input type="text" id="team-1-name"  ng-model="team1"  >
        <span><img src="img/players/players1.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-2" class="team">
        <span>2</span>
        <input type="text" id="team-2-name" ng-model="team2"  >
        <span><img src="img/players/players2.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-3" class="team">
        <span>3</span>
        <input type="text" id="team-3-name"  ng-model="team3" >
        <span><img src="img/players/players3.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-4" class="team">
        <span>4</span>
        <input type="text" id="team-4-name"  ng-model="team4" >
        <span><img src="img/players/players4.jpg" class="img-thumbnail"></span>      
    </div>
    <div id="team-5" class="team">
        <span>5</span>
        <input type="text" id="team-5-name"  ng-model="team5" >
        <span><img src="img/players/players5.jpg" class="img-thumbnail"></span>
    </div>
    <div id="team-6" class="team">
        <span>6</span>
        <input type="text" id="team-6-name"  ng-model="team6" >
        <span><img src="img/players/players6.jpg" class="img-thumbnail"></span>
    </div>