<section>
    <p>Equipos: 
        <span ng-repeat="team in teams">
            <b>{{team.getName()}}</b>: {{team.getPoints()}} |
            <!--span><img src="img/players/players{{team.getId()}}.jpg" class="img-thumbnail"></span --> 
        </span>
    </p>
    
    <div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(0)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(0)" id="answer-0" ng-disabled="game.getCurrentQuestion().answers[1].answered">{{game.getCurrentQuestion().answers[0].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(1)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(1)" id="answer-1">{{game.getCurrentQuestion().answers[1].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(2)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(2)" id="answer-2">{{game.getCurrentQuestion().answers[2].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(3)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(3)" id="answer-3">{{game.getCurrentQuestion().answers[3].answer}}</div>
    </div>
    <div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(4)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(4)" id="answer-4">{{game.getCurrentQuestion().answers[4].answer}}</div>
        <div class="col-md-6 answerinfo">
                   <div class="header1">{{game.getCurrentQuestion().id}} - {{game.getCurrentQuestion().question}}</div>
               <div>
                   {{8 - game.getCurrentCorrect()}} Correct <span class="glyphicon glyphicon-ok"></span> 
                 - 
                 {{4 - game.getCurrentIncorrect()}} Incorrect <span class="glyphicon glyphicon-remove"></span>
               </div>
                   <div class="header2">{{overAnswer}} ?</div>
        </div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(5)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(5)" id="answer-5">{{game.getCurrentQuestion().answers[5].answer}}</div>
    </div>
    <div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(6)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(6)" id="answer-6">{{game.getCurrentQuestion().answers[6].answer}}</div>
        <div class="col-md-6 answerinfo">
            <span><img src="img/players/players{{game.getCurrentTeam().getId()}}tb.jpg" class="img-rounded" align="left"></span>
            <h3>{{game.getCurrentTeam().getName()}} - {{game.getCurrentTeam().getPoints()}}</h3>
            <button type="button" class="btn btn-warning" ng-click="passTurn()" ng-disabled="!game.isOneAnswered()">Pasar</button>
        </div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(7)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(7)" id="answer-7">{{game.getCurrentQuestion().answers[7].answer}}</div>
    </div>
    <div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(8)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(8)" id="answer-8">{{game.getCurrentQuestion().answers[8].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(9)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(9)" id="answer-9">{{game.getCurrentQuestion().answers[9].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(10)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(10)" id="answer-10">{{game.getCurrentQuestion().answers[10].answer}}</div>
        <div class="col-md-3 answer img-rounded" ng-mouseover="showAnswer(11)" ng-mouseleave="overAnswer=''" ng-click="solveAnswer(11)" id="answer-11">{{game.getCurrentQuestion().answers[11].answer}}</div>
    </div>
    <a href="#/settings">Configurar</a>
</section>

<div class="modal" id="answerModalWindow" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content" ng-class="answerResultColor">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="theModalLabel">{{answerText}} ?</h4>
      </div>
      <div class="modal-body">
          <div  class="text-center">          
              <h2 ng-bind="answerResult"></h2>
            <img src=""  ng-src="{{answerImage}}" title="answer result" />
            <h1 ng-bind="game.getLastPoints()"></h1>
            <hr />
            <div class="header2"><b ng-bind="answerText"></b>: {{answerExplanation}}</div>
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
   </div>
</div>

<div class="modal" id="panelModalWindow" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h3 class="modal-title" id="theModalLabel">End of panel</h3>
      </div>
      <div class="modal-body">
        <div ng-repeat="team in teams">
            <div>
             <span class="team">
                <img src="img/players/players{{team.getId()}}tb.jpg" alt="team image">
                <b>{{team.getName()}}:</b>{{team.getPoints()}} 
             </span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-dismiss="modal">Continue</button>
      </div>
    </div>
   </div>
</div>
